.copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: center;
}

#now-content, .now-comments, .writer_profile_info_append, .user_profile_info_append{
    white-space: pre;
}